# Ignore original images
/DocTour/static/images/original/*

# Ignore uploaded images
/DocTour/static/images/uploaded/*

# Ignore output images
/DocTour/static/images/output/*

# Ignore the virtual environment
/dtenv/
